.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:8px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 88px;
}

.logo img {
  width: 136px;
  height: 161px;
  margin-bottom: 18px;
}

.container span {
  font-family: Righteous;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: -0.012em;
  text-align: center;  
  color: #FFFFFF;
}


